/* Цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* Белый #FFFFFF */
/* Акцент #2196F3 */
/* Цвет фона #F5F4FA */
/* Вторичный цвет фона #2F303A; */
/* background: #E5E5E5; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #f5f4fa;
  --secondary-bg-color: #2f303a;
}

.page {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

ul {
  list-style: none;
}

.list {
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  width: 1200px;
  outline: 2px solid tomato;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.web {
  color: var(--accent-color);
}

/* Site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}

/* .site-nav .item {
  margin-right: 50px;
} */

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Aut-nav */
.aut-nav {
  display: flex;
  margin-left: auto;
}

.aut-nav .item + .item {
  margin-left: 50px;
}

.aut-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.aut-nav .link:hover,
.aut-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background: var(--secondary-bg-color);
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}

/* Section */
.section {
  padding-top: 0;
  padding-bottom: 94px;
  outline: 2px solid tomato;
}

.section-title {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Feature */
.feature-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}
.feature-list .item:not(:last-child) {
  margin-left: 0;
  margin-right: 30px;
}

/* Command */
.command-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.command-list .title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.command-list .text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.command-list .item:not(:last-child) {
  margin-left: 0;
  margin-right: 30px;
}
/* Button */
.button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
}

/* Button Portfolio */
.button-list .link {
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}

.button-list .link:hover,
.button-list .link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/* Portfolio */
.portfolio-list .title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
}
.portfolio-list .desc {
  font-size: 16px;
  line-height: 1.87;
}

/* Footer */
.fond {
  background: var(--secondary-bg-color);
}

.logo-footer {
  color: var(--primary-white-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  text-align: left;
}
.footer-aut-nav .link {
  color: var(--footer-text-color);
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}
.footer-aut-nav .link:hover,
.footer-aut-nav .link:focus {
  color: var(--accent-color);
}
.address {
  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
