/* Цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* Белый #FFFFFF */
/* Акцент #2196F3 */
/* Цвет фона #F5F4FA */
/* Вторичный цвет фона #2F303A; */
/* background: #E5E5E5; */
/* Цвет рамки карточки #eeeeee  */
/* Фон карточки #ffffff */
/* background: #E5E5E5; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #f5f4fa;
  --secondary-bg-color: #2f303a;
  --background-card: #ffffff;
  --card-frame-color: #eeeeee;
  --bottom-line-color: #ececec;
}

.page {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
}
img {
  display: block;
}
.list {
  padding: 0;
  margin: 0;
}
.header {
  border-bottom: 1px solid var(--bottom-line-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /* outline: 2px solid tomato; */
}

.main-nav {
  display: flex;
  align-items: center;
}

/* Logo */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.web {
  color: var(--accent-color);
}

/* Site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
}

/* .site-nav .item {
  margin-right: 50px;
} */

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Aut-nav */
.aut-nav {
  display: flex;
  margin-left: auto;
}

.aut-nav .item + .item {
  margin-left: 50px;
}

.aut-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.aut-nav .link:hover,
.aut-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  background: var(--secondary-bg-color);
  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Section */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px solid tomato; */
}

.section-title {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Feature */
.section-feature {
  padding-top: 94px;
  padding-bottom: 0;
}
.feature-list {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

.feature-list .item:not(:last-child),
.command-list .item:not(:last-child),
.work-list .item:not(:last-child) {
  margin-left: 0;
  margin-right: 30px;
}

/* Command */

.command {
  background: var(--primary-bg-color);
}
.command-list,
.work-list {
  display: flex;
  margin: 0;
  padding-left: 0;
}
.command-list .title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.command-list .text {
  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.command-list .item {
  background: var(--background-card);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Button */
.button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;

  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
}

/* Button Portfolio */
.button-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}

.button-list .link {
  border-radius: 4px;
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  border: 1px solid transparent;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}

.button-list .link:hover,
.button-list .link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
/* Portfolio */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}
.portfolio-list .link {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list .link:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list .link:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-list .title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
}
.portfolio-list .desc {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
}
.portfolio-list .card {
  padding: 20px 24px;

  background: var(--background-card);
  border: 1px solid var(--card-frame-color);
  box-sizing: border-box;
}
/* ICON */
.cont-icon {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-color);
  border: 1px solid var(--primary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}
.social-list {
  display: flex;
}
}
.social-link {
  /* display: flex; */
  /* padding-left: 32px;
  padding-right: 32px; */

}

.icon {
  /* display: flex;
  align-items: center; 
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8; */
}
/* Footer */
.fond {
  padding: 60px 0px;

  background: var(--secondary-bg-color);
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  color: var(--primary-white-color);

  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  text-align: left;
}

.footer-aut-nav {
  padding: 0;
  margin: 0;
}

.footer-aut-nav .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-aut-nav .link {
  color: var(--footer-text-color);

  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}
.footer-aut-nav .link:hover,
.footer-aut-nav .link:focus {
  color: var(--accent-color);
}

.address-list {
  margin-top: 0;
  margin-bottom: 9px;

  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
