/* Цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* Белый #FFFFFF */
/* Акцент #2196F3 */
/* Цвет фона #F5F4FA */
/* Вторичный цвет фона #2F303A; */
/* background: #E5E5E5; */
/* Цвет рамки карточки #eeeeee  */
/* Фон карточки #ffffff */
/* background: #E5E5E5; */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #f5f4fa;
  --secondary-bg-color: #2f303a;
  --background-card: #ffffff;
  --card-frame-color: #eeeeee;
  --bottom-line-color: #ececec;
  --primery-social-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page {
  margin: 0;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.list {
  padding: 0;
  margin: 0;
}
.header {
  border-bottom: 1px solid var(--bottom-line-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  /* outline: 2px solid tomato; */
}

.main-nav {
  display: flex;
  align-items: center;
}

/* -------HEADER------- */
.logo {
  color: var(--title-text-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.web {
  color: var(--accent-color);
}

/* Site nav */
.site-nav {
  display: flex;
  margin-left: 93px;
  position: relative;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  display: block;

  background: var(--accent-color);
  border-radius: 2px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.site-nav .link.current {
  color: var(--accent-color);
}

/*------- Aut-nav -------*/
.aut-nav {
  display: flex;
  margin-left: auto;
}

.aut-nav .item + .item {
  margin-left: 50px;
}
.aut-nav-link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.aut-nav-link:hover,
.aut-nav-link:focus {
  color: var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.aut-nav .aut-nav-link:hover .icon,
.aut-nav .aut-nav-link:focus .icon {
  color: var(--accent-color);
  fill: var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.envelope {
  margin-right: 10px;
  fill: var(--primary-text-color);
}
.smartphone {
  margin-right: 10px;
  fill: var(--primary-text-color);
}

/*--------- Hero------- */
.hero {
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background: var(--secondary-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* -------Button-------- */
.button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;

  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
}
/* -------Section------- */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  /* outline: 2px solid tomato; */
}

.section-title {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* -------Feature------- */
.section-feature {
  padding-top: 94px;
  padding-bottom: 0;
}
.feature-list {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.feature-list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.feature-list .text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

.feature-list .item:not(:last-child),
.command-list .item:not(:last-child),
.work-list .item:not(:last-child) {
  margin-left: 0;
  margin-right: 30px;
}
/* -----Чем мы занимаемся----- */

.item {
  position: relative;
}
.description-work {
  position: absolute;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  bottom: 0;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* -------Command------- */

.command {
  background: var(--primary-bg-color);
}
.command-list,
.work-list {
  display: flex;
  margin: 0;
  padding-left: 0;
}
.command-list .title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.command-list .text {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.command-list .item {
  background: var(--background-card);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* Button Portfolio */
.button-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding-left: 0;
}

.button-list .item:not(:last-child) {
  margin-right: 8px;
}

.button-list .link {
  border-radius: 4px;
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  border: 1px solid transparent;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}

.button-list .link:hover,
.button-list .link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
/*------- Portfolio------- */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}
.portfolio-list .link {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-list .link:hover,
.portfolio-list .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.portfolio-list .link:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list .link:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-list .title {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-text-color);

  font-size: 18px;
  line-height: 2;
}
.portfolio-list .desc {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
}
.portfolio-list .card {
  padding: 20px 24px;

  background: var(--background-card);
  border: 1px solid var(--card-frame-color);
  box-sizing: border-box;
}

.link-website {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  width: 370px;
  height: 294px;
  top: 0;
  left: 0;
  padding: 63px 24px;
  margin: 0;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.link-website:hover .text-overlay,
.link-website:focus .text-overlay {
  transform: translateY(0);
  opacity: 1;
  overflow: hidden;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

/* -------ICON------- */

.cont-icon {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-color);
  border: 1px solid var(--primary-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 10px;
}

.social-link {
  display: flex;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  fill: var(--primery-social-color);
}

.social-icon:last-child {
  margin-right: 0;
}

.social-icon:hover,
.social-icon:focus {
  background-color: var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.social-icon:hover .icon,
.social-icon:focus .icon {
  fill: var(--primary-white-color);

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.client-list {
  display: flex;
}
.client-link {
  margin-right: 30px;
}

.client-icon {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--primery-social-color);
  border-radius: 4px;
  margin-bottom: 0;
  fill: var(--primery-social-color);
}
.client-icon:last-child {
  margin-right: 0;
}

.client-icon:hover,
.client-icon:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
/* Footer */
.fond {
  padding: 60px 0px;
  background: var(--secondary-bg-color);
  background-position: center;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;

  color: var(--primary-white-color);

  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  text-align: left;
}

.footer-aut-nav {
  padding: 0;
  margin: 0;
}

.footer-aut-nav .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-aut-nav .link {
  color: var(--footer-text-color);

  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  font-style: normal;
}
.footer-aut-nav .link:hover,
.footer-aut-nav .link:focus {
  color: var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.address-list {
  margin-top: 0;
  margin-bottom: 9px;

  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.footer-position {
  display: flex;
  align-items: baseline;
}
.footer-right-container {
  margin-left: 70px;
}
.footer-right-container h2 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.footer-list {
  display: flex;
  gap: 10px;
}
.footer-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--primary-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icon:hover,
.footer-icon:focus {
  background-color: var(--accent-color);

  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.footer-free-container {
  /* outline: 2px solid tomato; */
  margin-left: 93px;
}
.footer-free-container h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}
.footer-free-container .button-footer {
  position: relative;
}

.button-footer {
  border-radius: 4px;
  padding: 10px 62px 10px 29px;
  min-width: 200px;
  height: 50px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;

  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  cursor: pointer;
}

.input-email {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  outline: none;
}
.input-email:focus {
  border: 1px solid var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.icon-plane {
  position: absolute;
  left: 75%;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
}

/* ==== Модальное окно ===== */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;

  min-width: 528px;
  min-height: 581px;
  background: var(--background-card);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.button-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
.button-close:hover,
.button-close:focus {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.modal-text {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

/* .form-modal:not(:last-child) {
  margin-bottom: 10px;
} */
.form-modal {
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  outline: none;
}
.form-input:focus {
  border: 1px solid var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.form-input:focus + .form-icon {
  fill: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form-modal-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}
.input-wrapper {
  display: block;
  position: relative;
}
.form-modal-comment {
  margin-bottom: 20px;
}
.form-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
}
.form-text:focus {
  border: 1px solid var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.form-text::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form-icon {
  position: absolute;
  left: 12px;
  top: 38%;
  transform: translateY(-38%);
}

.check-text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  position: relative;
}

.check-item {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 3px;
  margin-left: 14px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-checkbox:checked + .check-text > .check-item {
  background-color: var(--accent-color);
  border-color: transparent;
}
.form-btn {
  display: block;
  margin: 0 auto;
}
.contract {
  margin-left: 9px;
  color: var(--accent-color);
  display: inline-block;
  text-decoration: underline;
}
