.section-feat {
  padding-top: 94px;
  padding-bottom: 0;
}
.feature__list {
  display: flex;
  padding-left: 0;
  margin: 0;
}
.feature__list .title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  @include font(14px, 16px, 700);
  text-transform: uppercase;
}
.feature__list .text {
  margin-top: 0;
  margin-bottom: 0;
  @include font(14px, 24px, 400);
  text-align: left;
}

.feature__list .feature__item {
  &:not(:last-child) {
    margin-left: 0;
    margin-right: 30px;
  }
}
